<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.gongan.dao.mapper.T01SchedulingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dt.gongan.dao.entity.T01SchedulingEntity">
        <id column="id" property="id" />
        <result column="duty_person_id" property="dutyPersonId" />
        <result column="duty_person_name" property="dutyPersonName" />
        <result column="duty_person_phone" property="dutyPersonPhone" />
        <result column="duty_person_no" property="dutyPersonNo" />
        <result column="scheduling_day" property="schedulingDay" />
        <result column="scheduling_am" property="schedulingAm" />
        <result column="city_no" property="cityNo" />
        <result column="scheduling_type" property="schedulingType" />
        <result column="scheduling_status" property="schedulingStatus" />
        <result column="scheduling_finish_flag" property="schedulingFinishFlag" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
