<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.gongan.dao.mapper.T04DutyHandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dt.gongan.dao.entity.T04DutyHandEntity">
        <id column="id" property="id" />
        <result column="org_id" property="orgId" />
        <result column="t01_scheduling_id" property="t01SchedulingId" />
        <result column="duty_person_id" property="dutyPersonId" />
        <result column="duty_person_name" property="dutyPersonName" />
        <result column="duty_person_phone" property="dutyPersonPhone" />
        <result column="duty_person_no" property="dutyPersonNo" />
        <result column="hand_person_id" property="handPersonId" />
        <result column="hand_person_name" property="handPersonName" />
        <result column="hand_person_phone" property="handPersonPhone" />
        <result column="hand_person_no" property="handPersonNo" />
        <result column="duty_message" property="dutyMessage" />
        <result column="duty_status" property="dutyStatus" />
        <result column="duty_time" property="dutyTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

</mapper>
