<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.gongan.dao.mapper.V01Test1Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dt.gongan.dao.entity.V01Test1Entity">
        <result column="id" property="id" />
        <result column="duty_person_id" property="dutyPersonId" />
        <result column="scheduling_type" property="schedulingType" />
        <result column="city_no" property="cityNo" />
        <result column="name" property="name" />
        <result column="mobile" property="mobile" />
    </resultMap>

</mapper>
