<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.gongan.dao.mapper.V31SjhcSub2Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dt.gongan.dao.entity.V31SjhcSub2Entity">
        <result column="id" property="id" />
        <result column="t30_id" property="t30Id" />
        <result column="tuisong_user_id" property="tuisongUserId" />
        <result column="tuisong_user_name" property="tuisongUserName" />
        <result column="tuisong_user_mobile" property="tuisongUserMobile" />
        <result column="tuisong_org_id" property="tuisongOrgId" />
        <result column="tuisong_org_name" property="tuisongOrgName" />
        <result column="tuisong_org_type" property="tuisongOrgType" />
        <result column="fanhui_user_id" property="fanhuiUserId" />
        <result column="fanhui_user_name" property="fanhuiUserName" />
        <result column="fanhui_user_mobile" property="fanhuiUserMobile" />
        <result column="fanhui_org_id" property="fanhuiOrgId" />
        <result column="fanhui_org_name" property="fanhuiOrgName" />
        <result column="fanhui_org_type" property="fanhuiOrgType" />
        <result column="record_info_status" property="recordInfoStatus" />
        <result column="tuisong_comment" property="tuisongComment" />
        <result column="tuisong_time" property="tuisongTime" />
        <result column="tuisong_attachement_ids" property="tuisongAttachementIds" />
        <result column="fanhui_comment" property="fanhuiComment" />
        <result column="fanhui_time" property="fanhuiTime" />
        <result column="fanhui_attachement_ids" property="fanhuiAttachementIds" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
