HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
genResult
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
!/src/main/resources/template/crud/model.xml
!/src/main/resources/template/crud/postman.xml
!/src/main/resources/template/crud/sql_mapper.xml
!/src/main/resources/template/crud/sql_plugin.xml
!/src/main/resources/template/crud/test.xml
!/src/main/resources/template/crud/vmodelConverter.xml
!/src/main/resources/template/crud/vmodel.xml
!/src/main/resources/template/crud/modelConverter.xml
